#
# Direnv configuration - https://direnv.net
#

# Enable the default development virtualenv if it exists
if [ -d "var/venvs/eyrie-dev" ]; then
  export VIRTUAL_ENV=$(expand_path var/venvs/eyrie-dev)
  PATH_add var/venvs/eyrie-dev/bin/
fi
if [ -z "${VIRTUAL_ENV_PROMPT:-}" ] && [ -n "${VIRTUAL_ENV}" ]; then
    VIRTUAL_ENV_PROMPT=$(basename "${VIRTUAL_ENV}")
fi
export VIRTUAL_ENV_PROMPT

# Add the project's executables directory to PATH
PATH_add scripts/eyrie
