#
# Direnv configuration - https://direnv.net
#

# Enable the default development virtualenv if it exists
# if [ -d ".venv" ]; then
#   export VIRTUAL_ENV=$(expand_path .venv)
#   PATH_add .venv/bin/
# fi
# if [ -z "${VIRTUAL_ENV_PROMPT:-}" ] && [ -n "${VIRTUAL_ENV}" ]; then
#     VIRTUAL_ENV_PROMPT=$(basename "${VIRTUAL_ENV}")
# fi
# export VIRTUAL_ENV_PROMPT

# Add the project's executables directory to PATH
PATH_add scripts/eyrie

# Reload environment when certain files change
watch_file pyproject.toml pdm.lock