# Managed applications
src/picata

# Lockfiles
package-lock.json

# Building
*.egg-info/
.env

# Logs
npm-debug.log*

# System
var

# Tools and libraries and junk
node_modules
*.tfstate*
.terraform
terraform.tfvars
.vagrant
.coverage

# Transient/system files
*.log
*.swp
*.tmp
.DS_Store
junk
